* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Ark-Pixel-10;
    src: url("../font/ark-pixel-10px-zh_cn.woff2");
}

@font-face {
    font-family: Fusion-Pixel;
    src: url("../font/fusion-pixel.woff2");
}

$color_text_primary: rgb(0, 0, 0);
$color_text_secondary: rgba(0, 0, 0, 0.54);
$font_ark_pixel_10: Ark-Pixel-10, monospace;
$font_fusion_pixel: Fusion-Pixel, monospace;

.page {
    padding: 64px 192px;

    .logo {
        display: block;
    }

    .title {
        margin-top: 32px;
        color: $color_text_primary;
        font-family: $font_fusion_pixel;
        font-size: 48px;
        line-height: 80px;
    }

    .bio {
        margin-bottom: 60px;
        font-family: $font_fusion_pixel;
        color: $color_text_secondary;
        font-size: 24px;
    }

    .link-group {
        a {
            margin-right: 20px;
            font-family: $font_fusion_pixel;
            font-size: 24px;
        }
    }

    .copyright {
        margin-top: 200px;
        color: $color_text_secondary;
        font-family: $font_ark_pixel_10;
        font-size: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .page {
        padding: 64px 64px;
    }
}

@media screen and (max-width: 750px) {
    .page {
        padding: 64px 16px;
    }
}
