* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Fusion-Pixel;
    src: url("../font/fusion-pixel.woff2");
}

$color_text_primary: rgb(0, 0, 0);
$color_text_secondary: rgba(0, 0, 0, 0.54);
$font_fusion_pixel: Fusion-Pixel, monospace;
$cursor_default: url("../img/cursor-default.png"), default;
$cursor_pointer: url("../img/cursor-pointer.png") 6 0, pointer;
$cursor_text: url("../img/cursor-text.png") 11 11, text;

body {
    display: flex;
    flex-direction: column;
    cursor: $cursor_default;
}

img {
    image-rendering: pixelated;
}

.page {
    padding: 64px 32px;

    .logo {
        width: 144px;
        height: 80px;
        display: block;
    }

    .title {
        margin-top: 24px;
        color: $color_text_primary;
        font-family: $font_fusion_pixel;
        font-size: 48px;
        line-height: 80px;
        cursor: $cursor_text;
    }

    .bio {
        font-family: $font_fusion_pixel;
        color: $color_text_secondary;
        font-size: 24px;
        cursor: $cursor_text;
    }

    .link-group {
        margin-top: 60px;
        margin-bottom: 180px;
        display: flex;
        flex-wrap: wrap;

        a {
            margin-right: 20px;
            font-family: $font_fusion_pixel;
            font-size: 24px;
            line-height: 40px;
            text-underline-offset: 4px;
        }
    }

    .copyright {
        color: $color_text_secondary;
        font-family: $font_fusion_pixel;
        font-size: 18px;
        cursor: $cursor_text;
    }
}

@media screen and (min-width: 1024px) {
    .page {
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}

a:hover {
    cursor: $cursor_pointer;
}
