@use "common";

body {
    display: flex;
    flex-direction: column;
    font-family: common.$font_fusion_pixel;
    cursor: common.$cursor_default;
}

.theme-light {
    color: common.$color_text_primary_on_light;
    background-color: common.$color_background_light;

    .color-text-secondary {
        color: common.$color_text_secondary_on_light;
    }
}

.theme-dark {
    color: common.$color_text_primary_on_dark;
    background-color: common.$color_background_dark;

    .color-text-secondary {
        color: common.$color_text_secondary_on_dark;
    }

    a:link {
        color: #ffe27b;
    }
    a:visited {
        color: #c4a740;
    }
}

.page {
    padding: 64px 32px;

    .logo {
        width: 144px;
        height: 80px;
        display: block;
    }

    .title {
        margin-top: 24px;
        font-size: 48px;
        line-height: 80px;
        cursor: common.$cursor_text;
    }

    .bio {
        margin-bottom: 48px;
        font-size: 24px;
        cursor: common.$cursor_text;
    }

    .link-group {
        margin-bottom: 16px;
        display: flex;
        flex-wrap: wrap;

        a {
            margin-right: 20px;
            font-size: 24px;
            line-height: 40px;
        }
    }

    .content-space {
        height: 160px;
    }

    .copyright {
        font-size: 18px;
        cursor: common.$cursor_text;
    }
}

@media screen and (min-width: 1024px) {
    .page {
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}

.btn-apply-theme {
    position: fixed;
    width: 32px;
    height: 32px;
}
